{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <form class="login-form" action="/join_event/" method="post">
            {% csrf_token %}
            <table class="event-table">
                <tr>
                    <th>Nazwa wydarzenia</th>
                    <th>Data</th>
                    <th>Zapisane osoby</th>
                    <th>Ilość osób</th>
                    <th></th>
                </tr>
                {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.date }}</td>
                    <td>
                        {% for user in event.users.all %}
                            {{ user }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ event.users.count }}
                    </td>
                    <td>
                        <button class="join-button" type="submit" name="event" value="{{ event.id }}">Dołącz do wydarzenia</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}
